In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('recommandation.csv')  
df1 = pd.read_csv('Cars.csv')

In [6]:
df.head()

,Mileage,Power,Transmission,Fuel,Drive_type,Doors,Seats,CO2_emissions,Engine_capacity,Emission_class,Year,Make,Body,Interior_material,price,Link
0,56955.0,148,1,1.0,0,1,5.0,114.0,1395.0,1.0,2018,Seat,Station Wagon,Cloth interior,19799,/car/69887205/seat-leon-st-1-4-fr-110-kw
1,142000.0,394,0,0.0,1,1,5.0,218.0,2993.0,2.0,2020,BMW,SUV / offroad,Full leather interior,50899,/car/69887204/bmw-x5-xdrive-294-kw
2,21370.0,91,0,1.0,0,1,5.0,96.0,1490.0,3.0,2021,Toyota,Hatchback,Full leather interior,20049,/car/69887066/toyota-yaris-68-kw
3,75042.0,148,1,0.0,0,1,3.0,205.0,2497.0,1.0,2017,Hyundai,Cargo VAN,Cloth interior,20349,/car/69887065/hyundai-h-350-l2h2-110-kw
4,22735.0,89,0,1.0,0,0,2.0,122.0,898.0,1.0,2019,Smart,Cargo VAN,Cloth interior,17949,/car/69887063/smart-fortwo-66-kw

In [7]:
df.duplicated().sum()

49

In [8]:
df.drop_duplicates(inplace=True)

In [10]:
# Afficher les colonnes de chaque DataFrame
print("Colonnes dans df1:", df1.columns.tolist())
print("Colonnes dans df:", df.columns.tolist())

# Comparer les types de données
print("\nTypes de données dans df1:")
print(df1.dtypes)
print("\nTypes de données dans df:")
print(df.dtypes)

# Trouver les différences de colonnes
colonnes_diff = set(df1.columns).symmetric_difference(set(df.columns))
print("\nColonnes différentes:", colonnes_diff)

# Comparer les types pour les colonnes communes
colonnes_communes = set(df1.columns).intersection(set(df.columns))
types_diff = []

for col in colonnes_communes:
    if df1[col].dtype != df[col].dtype:
        types_diff.append({
            'colonne': col,
            'type_df1': df1[col].dtype,
            'type_df': df[col].dtype
        })

print("\nDifférences de types pour les colonnes communes:")
for diff in types_diff:
    print(f"Colonne: {diff['colonne']}")
    print(f"Type dans df1: {diff['type_df1']}")
    print(f"Type dans df: {diff['type_df']}")

Colonnes dans df1: ['Mileage', 'Power', 'Transmission', 'Fuel', 'Drive_type', 'Doors', 'Seats', 'CO2_emissions', 'Engine_capacity', 'Emission_class', 'Year', 'Make', 'Body', 'Interior_material', 'price']
Colonnes dans df: ['Mileage', 'Power', 'Transmission', 'Fuel', 'Drive_type', 'Doors', 'Seats', 'CO2_emissions', 'Engine_capacity', 'Emission_class', 'Year', 'Make', 'Body', 'Interior_material', 'price', 'Link']

Types de données dans df1:
Mileage                int64
Power                float64
Transmission           int64
Fuel                   int64
Drive_type             int64
Doors                  int64
Seats                  int64
CO2_emissions        float64
Engine_capacity      float64
Emission_class         int64
Year                   int64
Make                  object
Body                  object
Interior_material     object
price                  int64
dtype: object

Types de données dans df:
Mileage              float64
Power                  int64
Transmission           int64
Fuel                 float64
Drive_type             int64
Doors                  int64
Seats                float64
CO2_emissions        float64
Engine_capacity      float64
Emission_class       float64
Year                   int64
Make                  object
Body                  object
Interior_material     object
price                  int64
Link                  object
dtype: object

Colonnes différentes: {'Link'}

Différences de types pour les colonnes communes:
Colonne: Emission_class
Type dans df1: int64
Type dans df: float64
Colonne: Fuel
Type dans df1: int64
Type dans df: float64
Colonne: Power
Type dans df1: float64
Type dans df: int64
Colonne: Mileage
Type dans df1: int64
Type dans df: float64
Colonne: Seats
Type dans df1: int64
Type dans df: float64

In [ ]:
# Obtenir les types de données de df1 comme référence
df_types = df1.dtypes

# Convertir les colonnes de df pour correspondre à df1, sauf Link
for column in df.columns:
    if column in df1.columns and column != 'Link':
        df[column] = df[column].astype(df1[column].dtype)

# Vérifier la conversion
print("Types après conversion:")
print("\nTypes dans df:")
print(df.dtypes)
print("\nTypes dans df1:")
print(df1.dtypes)

# Vérifier les colonnes
print("\nColonnes dans df1:", df1.columns.tolist())
print("Colonnes dans df:", df.columns.tolist())

In [ ]:
# Obtenir les types de données de df1 comme référence
df_types = df1.dtypes

# Convertir les colonnes de df pour correspondre à df1, sauf Link
for column in df.columns:
    if column in df1.columns and column != 'Link':
        df[column] = df[column].astype(df1[column].dtype)

# Vérifier la conversion
print("Types après conversion:")
print("\nTypes dans df:")
print(df.dtypes)
print("\nTypes dans df1:")
print(df1.dtypes)

# Vérifier les colonnes
print("\nColonnes dans df1:", df1.columns.tolist())
print("Colonnes dans df:", df.columns.tolist())