In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('Cars.csv')

In [5]:
df.columns

Index(['Mileage', 'Power', 'Transmission', 'Fuel', 'Drive_type', 'Doors',
       'Seats', 'CO2_emissions', 'Engine_capacity', 'Emission_class', 'Year',
       'Make', 'Body', 'Interior_material', 'price'],
      dtype='object')

In [11]:
df['Body'].unique()

array(['SUV / offroad', 'Hatchback', 'Station Wagon', 'Sedans / saloons',
       'MPV/VAN', 'MPV', 'Pick-up', 'Cargo VAN', 'Coupe'], dtype=object)

In [13]:
df.describe()

,Mileage,Power,Transmission,Fuel,Drive_type,Doors,Seats,CO2_emissions,Engine_capacity,Emission_class,Year,price
count,21360.000000,21360.000000,21360.000000,21360.000000,21360.000000,21360.000000,21360.000000,21360.000000,21360.000000,21360.000000,21360.000000,2.136000e+04
mean,43059.659176,177.560861,0.308801,0.967228,0.241245,0.934785,4.893680,129.796161,1715.672659,1.907584,2021.534270,3.623080e+04
std,41300.205212,100.025867,0.462010,0.826802,0.427849,0.246911,0.669842,44.446068,623.862615,0.928089,2.387042,3.646258e+04
min,0.000000,8.000000,0.000000,0.000000,0.000000,0.000000,2.000000,5.000000,1.000000,0.000000,2011.000000,2.899000e+03
25%,8650.000000,114.000000,0.000000,0.000000,0.000000,1.000000,5.000000,109.000000,1332.000000,1.000000,2020.000000,2.054900e+04
50%,30502.000000,148.000000,0.000000,1.000000,0.000000,1.000000,5.000000,126.000000,1580.000000,2.000000,2022.000000,2.844900e+04
75%,68882.000000,201.000000,1.000000,1.000000,0.000000,1.000000,5.000000,149.000000,1984.000000,3.000000,2024.000000,4.071150e+04
max,175000.000000,1002.000000,1.000000,3.000000,1.000000,1.000000,7.000000,499.000000,6592.000000,3.000000,2024.000000,2.454249e+06