In [19]:
import pandas as pd

In [22]:
df = pd.read_csv('recommandation.csv')  
df1 = pd.read_csv('Cars.csv')

In [24]:
df.head()

,Mileage,Power,Transmission,Fuel,Drive_type,Doors,Seats,CO2_emissions,Engine_capacity,Emission_class,Year,Make,Body,Interior_material,price,Link
0,56955,148.0,1,1,0,1,5,114.0,1395.0,1,2018,Seat,Station Wagon,Cloth interior,19799,/car/69887205/seat-leon-st-1-4-fr-110-kw
1,142000,394.0,0,0,1,1,5,218.0,2993.0,2,2020,BMW,SUV / offroad,Full leather interior,50899,/car/69887204/bmw-x5-xdrive-294-kw
2,21370,91.0,0,1,0,1,5,96.0,1490.0,3,2021,Toyota,Hatchback,Full leather interior,20049,/car/69887066/toyota-yaris-68-kw
3,75042,148.0,1,0,0,1,3,205.0,2497.0,1,2017,Hyundai,Cargo VAN,Cloth interior,20349,/car/69887065/hyundai-h-350-l2h2-110-kw
4,22735,89.0,0,1,0,0,2,122.0,898.0,1,2019,Smart,Cargo VAN,Cloth interior,17949,/car/69887063/smart-fortwo-66-kw

In [25]:
df.duplicated().sum()

49

In [26]:
df.drop_duplicates(inplace=True)

In [27]:
# Afficher les colonnes de chaque DataFrame
print("Colonnes dans df1:", df1.columns.tolist())
print("Colonnes dans df:", df.columns.tolist())

# Comparer les types de données
print("\nTypes de données dans df1:")
print(df1.dtypes)
print("\nTypes de données dans df:")
print(df.dtypes)

# Trouver les différences de colonnes
colonnes_diff = set(df1.columns).symmetric_difference(set(df.columns))
print("\nColonnes différentes:", colonnes_diff)

# Comparer les types pour les colonnes communes
colonnes_communes = set(df1.columns).intersection(set(df.columns))
types_diff = []

for col in colonnes_communes:
    if df1[col].dtype != df[col].dtype:
        types_diff.append({
            'colonne': col,
            'type_df1': df1[col].dtype,
            'type_df': df[col].dtype
        })

print("\nDifférences de types pour les colonnes communes:")
for diff in types_diff:
    print(f"Colonne: {diff['colonne']}")
    print(f"Type dans df1: {diff['type_df1']}")
    print(f"Type dans df: {diff['type_df']}")

Colonnes dans df1: ['Mileage', 'Power', 'Transmission', 'Fuel', 'Drive_type', 'Doors', 'Seats', 'CO2_emissions', 'Engine_capacity', 'Emission_class', 'Year', 'Make', 'Body', 'Interior_material', 'price']
Colonnes dans df: ['Mileage', 'Power', 'Transmission', 'Fuel', 'Drive_type', 'Doors', 'Seats', 'CO2_emissions', 'Engine_capacity', 'Emission_class', 'Year', 'Make', 'Body', 'Interior_material', 'price', 'Link']

Types de données dans df1:
Mileage                int64
Power                float64
Transmission           int64
Fuel                   int64
Drive_type             int64
Doors                  int64
Seats                  int64
CO2_emissions        float64
Engine_capacity      float64
Emission_class         int64
Year                   int64
Make                  object
Body                  object
Interior_material     object
price                  int64
dtype: object

Types de données dans df:
Mileage                int64
Power                float64
Transmission           int64
Fuel                   int64
Drive_type             int64
Doors                  int64
Seats                  int64
CO2_emissions        float64
Engine_capacity      float64
Emission_class         int64
Year                   int64
Make                  object
Body                  object
Interior_material     object
price                  int64
Link                  object
dtype: object

Colonnes différentes: {'Link'}

Différences de types pour les colonnes communes:

In [28]:
# Obtenir les types de données de df1 comme référence
df_types = df1.dtypes

# Convertir les colonnes de df pour correspondre à df1, sauf Link
for column in df.columns:
    if column in df1.columns and column != 'Link':
        df[column] = df[column].astype(df1[column].dtype)

# Vérifier la conversion
print("Types après conversion:")
print("\nTypes dans df:")
print(df.dtypes)
print("\nTypes dans df1:")
print(df1.dtypes)

# Vérifier les colonnes
print("\nColonnes dans df1:", df1.columns.tolist())
print("Colonnes dans df:", df.columns.tolist())

Types après conversion:

Types dans df:
Mileage                int64
Power                float64
Transmission           int64
Fuel                   int64
Drive_type             int64
Doors                  int64
Seats                  int64
CO2_emissions        float64
Engine_capacity      float64
Emission_class         int64
Year                   int64
Make                  object
Body                  object
Interior_material     object
price                  int64
Link                  object
dtype: object

Types dans df1:
Mileage                int64
Power                float64
Transmission           int64
Fuel                   int64
Drive_type             int64
Doors                  int64
Seats                  int64
CO2_emissions        float64
Engine_capacity      float64
Emission_class         int64
Year                   int64
Make                  object
Body                  object
Interior_material     object
price                  int64
dtype: object

Colonnes dans df1: ['Mileage', 'Power', 'Transmission', 'Fuel', 'Drive_type', 'Doors', 'Seats', 'CO2_emissions', 'Engine_capacity', 'Emission_class', 'Year', 'Make', 'Body', 'Interior_material', 'price']
Colonnes dans df: ['Mileage', 'Power', 'Transmission', 'Fuel', 'Drive_type', 'Doors', 'Seats', 'CO2_emissions', 'Engine_capacity', 'Emission_class', 'Year', 'Make', 'Body', 'Interior_material', 'price', 'Link']

In [29]:
# Obtenir les types de données de df1 comme référence
df_types = df1.dtypes

# 1. Vérifier les colonnes avec des NA
print("Colonnes avec des NA:")
print(df.isna().sum())

# 2. Nettoyer les NA selon le type de données
# Remplacer NA par 0 pour les colonnes numériques
numeric_columns = df.select_dtypes(include=['float64', 'int64']).columns
df[numeric_columns] = df[numeric_columns].fillna(0)

# 3. Convertir les types (sauf Link)
for column in df.columns:
    if column in df1.columns and column != 'Link':
        df[column] = df[column].fillna(0)  # Assurer qu'il n'y a pas de NA
        df[column] = df[column].astype(df1[column].dtype)

# Vérifier la conversion
print("\nTypes après conversion:")
print(df.dtypes)
print("\nTypes dans df1:")
print(df1.dtypes)

# Vérifier les colonnes
print("\nColonnes dans df1:", df1.columns.tolist())
print("Colonnes dans df:", df.columns.tolist())

Colonnes avec des NA:
Mileage              0
Power                0
Transmission         0
Fuel                 0
Drive_type           0
Doors                0
Seats                0
CO2_emissions        0
Engine_capacity      0
Emission_class       0
Year                 0
Make                 0
Body                 0
Interior_material    0
price                0
Link                 0
dtype: int64

Types après conversion:
Mileage                int64
Power                float64
Transmission           int64
Fuel                   int64
Drive_type             int64
Doors                  int64
Seats                  int64
CO2_emissions        float64
Engine_capacity      float64
Emission_class         int64
Year                   int64
Make                  object
Body                  object
Interior_material     object
price                  int64
Link                  object
dtype: object

Types dans df1:
Mileage                int64
Power                float64
Transmission           int64
Fuel                   int64
Drive_type             int64
Doors                  int64
Seats                  int64
CO2_emissions        float64
Engine_capacity      float64
Emission_class         int64
Year                   int64
Make                  object
Body                  object
Interior_material     object
price                  int64
dtype: object

Colonnes dans df1: ['Mileage', 'Power', 'Transmission', 'Fuel', 'Drive_type', 'Doors', 'Seats', 'CO2_emissions', 'Engine_capacity', 'Emission_class', 'Year', 'Make', 'Body', 'Interior_material', 'price']
Colonnes dans df: ['Mileage', 'Power', 'Transmission', 'Fuel', 'Drive_type', 'Doors', 'Seats', 'CO2_emissions', 'Engine_capacity', 'Emission_class', 'Year', 'Make', 'Body', 'Interior_material', 'price', 'Link']

In [30]:
# 1. Nettoyer les NA et convertir les types
numeric_columns = df.select_dtypes(include=['float64', 'int64']).columns
df[numeric_columns] = df[numeric_columns].fillna(0)

# 2. Convertir tous les types sauf Link pour correspondre à df1
for column in df.columns:
    if column in df1.columns and column != 'Link':
        df[column] = df[column].fillna(0)
        df[column] = df[column].astype(df1[column].dtype)

# 3. Sauvegarder dans recommandation.csv
df.to_csv('recommandation.csv', index=False)

# 4. Vérifier la sauvegarde
print("Vérification des types après sauvegarde:")
df_verification = pd.read_csv('recommandation.csv')
print(df_verification.dtypes)

Vérification des types après sauvegarde:
Mileage                int64
Power                float64
Transmission           int64
Fuel                   int64
Drive_type             int64
Doors                  int64
Seats                  int64
CO2_emissions        float64
Engine_capacity      float64
Emission_class         int64
Year                   int64
Make                  object
Body                  object
Interior_material     object
price                  int64
Link                  object
dtype: object

In [31]:
# Lire le fichier
df = pd.read_csv('recommandation.csv')

# Supprimer les doublons
df.drop_duplicates(inplace=True)

# Supprimer les lignes contenant des NaN
df.dropna(inplace=True)

# Sauvegarder le fichier nettoyé
df.to_csv('recommandation.csv', index=False)

# Vérifier le nettoyage
print("Nombre de lignes avant nettoyage:", len(df))
print("Valeurs NaN restantes:", df.isna().sum().sum())
print("Doublons restants:", df.duplicated().sum())

Nombre de lignes avant nettoyage: 32855
Valeurs NaN restantes: 0
Doublons restants: 0

In [32]:
# 1. Lire les fichiers
import pandas as pd

df_recom = pd.read_csv('recommandation.csv')
df_cars = pd.read_csv('Cars.csv')

# 2. Obtenir les colonnes communes (sauf Link)
common_columns = [col for col in df_recom.columns if col in df_cars.columns and col != 'Link']

# 3. Trouver les lignes communes
merged_df = pd.merge(
    df_recom, 
    df_cars[common_columns],
    on=common_columns,
    how='inner'
)

# 4. Sauvegarder le résultat
merged_df.to_csv('iliass.csv', index=False)

# 5. Afficher les statistiques
print(f"Nombre de lignes dans recommandation.csv: {len(df_recom)}")
print(f"Nombre de lignes dans Cars.csv: {len(df_cars)}")
print(f"Nombre de lignes communes (dans iliass.csv): {len(merged_df)}")

Nombre de lignes dans recommandation.csv: 32855
Nombre de lignes dans Cars.csv: 21360
Nombre de lignes communes (dans iliass.csv): 408

In [33]:
# Identifier les colonnes numériques
numeric_columns = df_cars.select_dtypes(include=['int64', 'float64']).columns

# Calculer et afficher les min/max pour chaque colonne numérique
stats_df = pd.DataFrame({
    'Colonne': numeric_columns,
    'Minimum': [df_cars[col].min() for col in numeric_columns],
    'Maximum': [df_cars[col].max() for col in numeric_columns]
})

# Afficher les résultats
print("Statistiques des colonnes numériques:")
print(stats_df.to_string(index=False))

# Option alternative avec description plus détaillée
print("\nDescription détaillée:")
print(df_cars[numeric_columns].describe())

Statistiques des colonnes numériques:
        Colonne  Minimum   Maximum
        Mileage      0.0  175000.0
          Power      8.0    1002.0
   Transmission      0.0       1.0
           Fuel      0.0       3.0
     Drive_type      0.0       1.0
          Doors      0.0       1.0
          Seats      2.0       7.0
  CO2_emissions      5.0     499.0
Engine_capacity      1.0    6592.0
 Emission_class      0.0       3.0
           Year   2011.0    2024.0
          price   2899.0 2454249.0

Description détaillée:
             Mileage         Power  Transmission          Fuel    Drive_type  \
count   21360.000000  21360.000000  21360.000000  21360.000000  21360.000000
mean    43059.659176    177.560861      0.308801      0.967228      0.241245
std     41300.205212    100.025867      0.462010      0.826802      0.427849
min         0.000000      8.000000      0.000000      0.000000      0.000000
25%      8650.000000    114.000000      0.000000      0.000000      0.000000
50%     30502.000000    148.000000      0.000000      1.000000      0.000000
75%     68882.000000    201.000000      1.000000      1.000000      0.000000
max    175000.000000   1002.000000      1.000000      3.000000      1.000000

              Doors         Seats  CO2_emissions  Engine_capacity  \
count  21360.000000  21360.000000   21360.000000     21360.000000
mean       0.934785      4.893680     129.796161      1715.672659
std        0.246911      0.669842      44.446068       623.862615
min        0.000000      2.000000       5.000000         1.000000
25%        1.000000      5.000000     109.000000      1332.000000
50%        1.000000      5.000000     126.000000      1580.000000
75%        1.000000      5.000000     149.000000      1984.000000
max        1.000000      7.000000     499.000000      6592.000000

       Emission_class          Year         price
count    21360.000000  21360.000000  2.136000e+04
mean         1.907584   2021.534270  3.623080e+04
std          0.928089      2.387042  3.646258e+04
min          0.000000   2011.000000  2.899000e+03
25%          1.000000   2020.000000  2.054900e+04
50%          2.000000   2022.000000  2.844900e+04
75%          3.000000   2024.000000  4.071150e+04
max          3.000000   2024.000000  2.454249e+06